<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            This will be the logged in user dashboard
            Hello {{user.username}}!
        </h3>
        Let's make a new Poll!
        <form action="/newpoll" method="POST">
            <input type="text" placeholder="title" name="title">
            <input type="text" placeholder="choice1" name="choice1">
            <input type="text" placeholder="choice2" name="choice2">
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div> 
</div>