<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            This is where individual polls are displayed, will change so that poll name will lead to poll's page
        </h3>

        {{title}}
        {{choice1}}
        {{choice2}}
    </div> 
</div>